<!-- UserMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mapper.HomeMapper">
    <!-- 登録処理 -->
    <insert id="registBlogUrl" parameterType="com.project.form.ContentsForm"> INSERT INTO
        ano_sono2.URL_STORAGE (title, url, description) VALUES (#{title}, #{url}, #{description}) </insert>

    <!-- 情報取得処理 -->
    <select id="getBlogUrls" resultType="com.project.entity.UrlStorage"> SELECT * FROM
        ano_sono2.URL_STORAGE ORDER BY id LIMIT #{limit} OFFSET #{offset} </select>

    <!-- 個数取得処理 -->
    <select id="getCountUrls"
        resultType="int"> SELECT COUNT(*) FROM ano_sono2.URL_STORAGE </select>

    <!-- 更新処理 -->
    <update id="updateBlogContents" parameterType="com.project.form.ContentsForm"> UPDATE
        ano_sono2.URL_STORAGE <set>
            <if test="title != null">title = #{title},</if>
            <if test="url != null">url = #{url},</if>
            <if
                test="description != null">description = #{description},</if>
        </set> WHERE id
        = #{id} </update>

    <!-- 削除処理 -->
    <delete id="deleteBlogContents" parameterType="java.lang.Long"> DELETE FROM
        ano_sono2.URL_STORAGE WHERE id = #{id} </delete>

    <!-- 検索処理 -->
    <select id="getSearchResult" resultType="com.project.entity.UrlStorage"> SELECT * FROM ( SELECT
        * FROM ano_sono2.URL_STORAGE WHERE <choose>
            <when test="searchForm.searchType == 'exact'">
                <if test="searchForm.title != null and searchForm.title != ''">
                    title = #{searchForm.title}
                </if>
                <if test="searchForm.description != null and searchForm.description != ''">
                    AND description = #{searchForm.description}
                </if>
            </when>
            <when test="searchForm.searchType == 'partial'">
                <if test="searchForm.title != null and searchForm.title != ''">
                    title LIKE #{searchForm.titleWithWildcards}
                </if>
                <if test="searchForm.description != null and searchForm.description != ''">
                    <if test="searchForm.title != null and searchForm.title != ''">
                        AND
                    </if>
                    description LIKE #{searchForm.descriptionWithWildcards}
                </if>
            </when>
            <otherwise>
                <if test="searchForm.title != null and searchForm.title != ''">
                    title LIKE #{searchForm.titleWithWildcards}
                </if>
                <if test="searchForm.description != null and searchForm.description != ''">
                    <if test="searchForm.title != null and searchForm.title != ''">
                        AND
                    </if>
                    description LIKE #{searchForm.descriptionWithWildcards}
                </if>
            </otherwise>
        </choose> ORDER BY id ) t LIMIT
        #{searchForm.limit} OFFSET #{searchForm.startIndex} </select>

</mapper>