<!-- UserMapper.xml -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mapper.LoginMapper">
    <!-- 登録処理 -->
    <insert id="register" parameterType="com.project.form.CreateAccountForm">
        INSERT INTO
            ano_sono2.USER_MASTER
        (
            user_name,
            email,
            password,
            salt
        )
        VALUES
        (
            #{username},
            #{email},
            #{password},
            #{salt}
        )
    </insert>

    <!-- ログイン処理 -->
    <select id="login" parameterType="com.project.form.LoginForm" resultType="com.project.dto.LoginDto">
          SELECT
                1 as resultFlag,
                password,
                salt,
                user_name
          FROM
                ano_sono2.USER_MASTER
          WHERE
                email = #{email}
    </select>
 </mapper>
